Block Model Layout
/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    /* min-width: 320px;
    min-height: auto; */
  }
  *, *:before, *:after {
    box-sizing: inherit;
    margin: 0; 
    font-size: 15px;
  }

body {
    font-family: Nunito, Raleway, Quicksand, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    min-width: 320px;
    min-height: auto;
    background-color: #F2F2F2;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #3b5998;
    z-index: 2;
}

#profile_button {
    display: none;
}

button {
    display: inline-block;
    height: 45px;
    width: 38px;
}

#logo {
    background-image:url('images/facebook/homebutton.png');
    border: 0;
}

#friend_req{
    background-image:url('images/facebook/friend_req.png');
    border: 0;
}

#messenger {
    background-image:url('images/facebook/messenger.png');
    border: 0;
}

#globe {
    background-image:url('images/facebook/globe.png');
    border: 0;
}

#glass {
    background-image: url('images/facebook/glass.png');
    border: 0;
}

#bars {
    background-image:url('images/facebook/3bars.png');
    border: 0;
}

#button_links {
    display: none;
}

#ads {
    display: none;
}

.statusbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#newsfeed {
    display: inline;
    text-align: center;
    margin: 1px;
}

#post {
    background-color: white;
}

.statusbar {
    border: 1px solid #e8e9eb;
}

.postbar {
    width: 106px;
    height: 37px;
    background-color: white;
}

#postphoto {
    background-image: url('images/facebook/photo.png');
}

#checkin {
    background-image: url('images/facebook/check_in.png');
}

#more {
    background-image: url('images/facebook/more.png');
}

#postentry {
    display: flex;
    width: auto;
    height: 100px;
    /* justify-content: center; */ 
    background-color: white;
    margin: 1% 1%;
}

.profile_photo_button {
    width: 50px;
    height: 50px;
    float: left; 
    margin-left: 3%;
    margin-right: 2%;
    margin-top: 1%;
}

.mini_photo_button {
    width: 25px;
    height: 25px;
    float: left; 
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
}

.profile_photo {
    background-image: url('images/facebook/profile.png');
    background-size: contain;
    background-position: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

#entry {
    clear: right;
}

#editors {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr;
    background-color: white;
    /* border: 1px solid #e8e9eb; */
    margin: 1% 1%;
}

.box {
    border: 1px solid #e8e9eb;
}

.edit {
    border: 1px solid #e8e9eb;
    width: 100%;
}

#postbutton {
    align-self: center;
}

#randompost {
    width: auto;
    height: auto;
    background-color: white;
}

@media screen and (min-width: 768px) {
    .main {
        display: grid;
        grid-template-columns: 20% 50% 30%;
        /* flex-direction:row;
        justify-content: space-between;
        align-content: stretch; */
    }
    #ads {
        display: inline-block;
        background-color: white;
        width: 100%;
        margin-left: 20px;
    }
    #button_links {
        display: flex;
        flex-direction: column;
        width: 33%;
    }
}

@media screen and (min-width: 1024px) {

}

@media screen and (min-width: 1200px) {

}